<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">

<insert id="writeInsert">
		insert into used_transaction_board values(u_no_seq.nextval,#{id},#{title},#{title_img},#{phone},#{contents}
		,default,#{price},#{member_class},#{account},#{category},#{trade_type},#{delivery_type,jdbcType=VARCHAR},#{delivery_cost,jdbcType=VARCHAR},default,default)
</insert>

<insert id="imgInsert">
		insert into used_transaction_img_board
		values(u_t_i_no_seq.nextval,#{title_img},#{middle1_img},#{middle2_img,jdbcType=VARCHAR},#{middle3_img,jdbcType=VARCHAR},#{middle4_img,jdbcType=VARCHAR},#{middle5_img,jdbcType=VARCHAR},#{middle6_img,jdbcType=VARCHAR},#{middle7_img,jdbcType=VARCHAR},#{middle8_img,jdbcType=VARCHAR},#{middle9_img,jdbcType=VARCHAR},#{middle10_img,jdbcType=VARCHAR})
</insert>

<insert id="actionWriteInsert">insert into auction_board values(a_no_seq.nextval,#{id},#{title},#{title_img},#{phone},#{contents},default,default,#{end_date},#{starting_price},#{min_price},default,#{member_class},#{account},default,#{category},#{trade_type},#{delivery_type,jdbcType=VARCHAR},#{delivery_cost,jdbcType=VARCHAR},default) 
</insert>

<insert id="actionImgInsert">insert into auction_img_board values(a_i_seq.nextval,#{title_img},#{middle1_img},#{middle2_img,jdbcType=VARCHAR},#{middle3_img,jdbcType=VARCHAR},#{middle4_img,jdbcType=VARCHAR},#{middle5_img,jdbcType=VARCHAR},#{middle6_img,jdbcType=VARCHAR},#{middle7_img,jdbcType=VARCHAR},#{middle8_img,jdbcType=VARCHAR},#{middle9_img,jdbcType=VARCHAR},#{middle10_img,jdbcType=VARCHAR}) 
</insert>
<update id="used_onGoing_n">
update used_transaction_board set ongoing='n' where no=#{value}
</update>
<select id="recordCount_au" resultType="Integer">
select count(*) from auction_board where id=#{value} 
</select>
<select id = "selectById_au" parameterType="Map" resultType="kh.spring.dto.Auction_boardDTO">
select * from (select row_number()over(order by no desc) as rown, auction_board.* from auction_board) where (rown between #{startNum} and #{endNum})and id=#{id}
</select>
<select id="recordCount_us" resultType="Integer">
select count(*) from used_transaction_board where id=#{value} 
</select>
<select id = "selectById_us" parameterType="Map" resultType="kh.spring.dto.Used_transaction_boardDTO">
select * from (select row_number()over(order by no desc) as rown, used_transaction_board.* from used_transaction_board) where (rown between #{startNum} and #{endNum})and id=#{id}
</select>
</mapper>


