<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DetailPageDAO">

<select id="a_i_selectByNo" resultType="kh.spring.dto.Auction_img_boardDTO">
	select * from Auction_img_board where no=#{value}
</select>

<select id="a_selectByNo" resultType="kh.spring.dto.Auction_boardDTO">
	select * from Auction_board where no=#{value}
</select>

</mapper>