<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDAO">
<select id ="getPoint" resultType="Integer">
select point from members where id=#{value}
</select>
<insert id="insertProc">
   insert into Members(id,pw,name,phone,zipcode,address1,address2,ipaddress,logintype) values(#{id},#{pw},#{name},#{phone},#{zipcode},#{address1},#{address2},#{ipaddress},#{logintype}) 
</insert>
<insert id="insertSocial">
   insert into Members values (#{id},null,null,null,default,null,null,null,default,#{ipaddress},#{logintype},default,default,default) 
</insert>
<select id="selectIdCheck" resultType="int">
   select count(*) from members where id=#{id}
</select>
<select id="selectloginProc" parameterType="HashMap" resultType="int">
   select count(*) from members where id=#{id} and pw=#{pw}
</select>
<select id="selectPwcheck" resultType="int">
   select count(*) from members where id=#{email}
</select>
<update id="updatePwChange">
   UPDATE members SET pw=#{pw} WHERE id=#{id}
</update>
<select id="selectById" resultType="kh.spring.dto.MemberDTO">
   select * from members where id=#{value}
</select>
<update id="updateProc"  parameterType="kh.spring.dto.MemberDTO"> 
   UPDATE members SET name=#{name} , phone=#{phone} , zipcode=#{zipcode},address1=#{address1},address2=#{address2} WHERE id=#{id}
</update>
<update id="setPoint"  > 
   UPDATE members SET point=${point} WHERE id=#{id}
</update>
</mapper>
